{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Done {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Change successfully !!</h3>
    <div>
        <iframe src="https://media.giphy.com/media/iXgo6DBspoue9tgWMq/giphy.gif" width="500" height="500"
        frameBorer="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
</div>
</div>
{%endblock main-content %}
