{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group mb-5">
        <a href="{% url 'topwear' %}" class="list-group-item
        list-group-item-action" aria-current="true">All Topwears</a>
        <a href="{% url 'topweardata' 'Hoodies' %}" class="list-group-item
        list-group-item-action" aria-current="true">Hoodies</a>
        <a href="{% url 'topweardata' 'below' %}" class="list-group-item
        list-group-item-action" aria-current="true">Below 4500</a>
        <a href="{% url 'topweardata' 'above' %}" class="list-group-item
        list-group-item-action" aria-current="true">Above 10000</a>

    </div>
   {% comment %} Side Bar for Mobile filter {% endcomment %}
  </div>
  <div class="col-sm-8 ">
    <div class="row">
     {% for product in topwears%} 
        <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}"
            class="btn">
             <div class="box">
                <img src="{{product.product_image.url}} " alt=""
                height="300" class="">
                <div class="fw-bold">Rs. {{product.discounted_price}}
                <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                   
                </div>
            </a>
        </div>{%endfor%}            
    </div>
 </div>

 
{% endblock main-content %}
